:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #ccc;
  --blur-text-color: rgb(97, 96, 96);
  --shopee-text-orange-color: #ff6533;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid_full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
