:root {
  --header-height: 120px;
  --header-sort-bar-height: 46px;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #313131;
  --primary-color: #ee4d2d;
  --box-hover-color: #f0f0f0;
  --text-link-hover-color: hsla(0, 0%, 100%, 0.7);
  --button-hover-color: rgb(224, 224, 224);
  --footer-text-color: rgba(0, 0, 0, 0.637);
}

::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive */

.grid_full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* Demo */
.grid__column-2 {
  width: calc((100% / 12) * 2);
  padding-left: 5px;
  padding-right: 5px;
}
.grid__column-10 {
  width: calc((100% / 12) * 10);
  padding-left: 5px;
  padding-right: 5px;
}
.grid__column-2-4 {
  width: calc((100% / 5) * 1);
  padding-left: 5px;
  padding-right: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__content {
  --growth-from: 0.5;
  --growth-to: 1;
  animation: growth linear 0.2s;
  width: 550px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 0.4rem;
  overflow: hidden;
}
.btn {
  height: 34px;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}
.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.btn--normal:hover {
  background-color: rgb(238, 238, 238);
}
.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
}

.show {
  display: flex;
}
.hidden {
  display: none;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes box-growth {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
    opacity: 0;
  }
  to {
    transform: scale(var(--growth-to));
    opacity: 1;
  }
}
@keyframes fadedown {
  from {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}
.pagination-item {
  display: flex;
  align-items: center;
  color: #939393;
  font-size: 2rem;
  font-weight: 400;
  background-color: #f9f9f9;
  height: 34px;
  border-radius: 0.2rem;
  border: none;
  padding: 0 16px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 15px;
}
.pagination-item-current {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.pagination-item-current:hover {
  opacity: 0.8;
}
