/* Header__navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: var(--header-height);

  background: linear-gradient(-180deg, #f53e2d, #ff6533);
}
.header__sort-bar {
  display: none;
  position: fixed;
  z-index: 2;
  top: var(--header-height);
  width: 100%;
  height: var(--sort-bar-height);
  background-color: #fff;
}
.header__sort-bar-list {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.header__sort-bar-item {
  position: relative;
  width: 20%;
}
.header__sort-bar-item--active .header__sort-bar-item-link {
  color: var(--primary-color);
}
.header__sort-bar-item:not(:first-child):before {
  content: "";
  width: 1px;
  height: 60%;
  border-left: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header__sort-bar-item-link {
  display: block;
  line-height: var(--header-sort-bar-height);
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}
.navbar__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar__list-item,
.navbar__list-item-link {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}
.navbar__list-item {
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__list-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
.navbar__list-item-link--strong {
  font-weight: 500;
}
.nav__list-item--seperate::after {
  content: "";
  display: block;
  width: 0.1rem;
  height: 1.6rem;
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__list-item--text {
  cursor: auto;
}
.navbar__list-item-icon {
  padding: 0;
  font-size: 1.6rem;
}
/* Download-Menu */
.navbar__list-item-download-menu {
  display: none;
  position: absolute;
  top: 120%;
  left: 10px;
  width: 190px;
  background-color: var(--white-color);
  box-shadow: 5px 10px 26px -8px #000000;
  border-radius: 0.3rem;
  animation: fadeIn ease-in 0.4s;
  z-index: 20;
}
.navbar__list-item-download-menu::before {
  content: "";
  height: 30px;
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0;
}
.navbar__list-item-download-menu img {
  width: 100%;
  border-radius: inherit;
}
.list-item-download-menu-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 12px;
}
.list-item-download-menu-app img {
  width: 40%;
  margin-bottom: 12px;
}
.navbar__list-item-download:hover .navbar__list-item-download-menu {
  display: block;
}
/* =================================================================== */
/* Notification */
.navbar-list-item-notification-menu {
  display: none;
  position: relative;
  flex-direction: column;
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 20;
  background-color: var(--white-color);
  min-width: 400px;
  min-height: 350px;
  box-shadow: 5px 10px 26px -8px #000;
  transform-origin: calc(100% - 45px) top;
  will-change: opacity transform;
  animation: box-growth ease 0.3s;
  -webkit-animation: box-growth ease 0.3s;
  animation: box-growth ease 0.3s;
}
.navbar-list-item-notification-menu::after {
  content: "";
  height: 30px;
  width: 30%;
  position: absolute;
  top: -30px;
  right: 0;
}
.navbar-list-item-notification-menu::after {
  content: "";
  display: block;
  width: 30%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 3;
}
.navbar__list-item-notification:hover .navbar-list-item-notification-menu {
  display: flex;
}

.navbar-list-item-notification-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 33px;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 26px -8px #000;
}
.notification-menu-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-menu-content-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.notification-menu-content-details img {
  width: 40%;
  padding-bottom: 20px;
  display: block;
}
.notification-menu-login {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: rgb(245, 245, 245);
}
.notification-menu-login-btn {
  color: var(--text-color);
  flex: 1;
}
.notification-menu-login-btn:hover {
  color: var(--primary-color);
  background-color: rgb(224, 224, 224);
}
.notification-menu-login-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
/* Navbar-user */

.navbar__list-item-user:hover {
  color: var(--text-link-hover-color);
}
.navbar__list-item-user:hover .item-user-about {
  display: block;
}
.navbar__list-item-user-avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}

.navbar__list-item-user-name:hover {
  color: hsla(0, 0%, 100%, 0.7);
}
.item-user-about {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  z-index: 20;
  width: 150px;
  box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.63);
  background-color: var(--white-color);
  animation: fadeIn linear 0.2s;
}
.item-user-about::before {
  content: "";
  display: block;
  position: absolute;
  top: -23px;
  right: 40px;
  z-index: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--white-color);
  border-top: 12px solid transparent;
}
.item-user-about::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  width: 100%;
  height: 15px;
}
.user-list-infor {
  display: flex;
  flex-direction: column;
  color: var(--black-color);
}
.user-infor {
  --user-infor-height: 40px;
  height: var(--user-infor-height);
  padding: 0 16px;
  line-height: var(--user-infor-height);
}
.user-infor:hover {
  background-color: var(--box-hover-color);
  color: #27aa9a;
}

/* =============================================== */
/* Language */
.navbar__list-item-language {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 120%;
  right: -20px;
  z-index: 20;
  width: 200px;
  height: 80px;
  background-color: var(--white-color);
  color: var(--text-color);
  box-shadow: 5px 10px 26px -8px #000;
  animation: box-growth ease 0.3s;
  transform-origin: calc(100% - 65px) top;
}
.navbar__list-item-language::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  right: 50px;
}
.navbar__list-item-language::after {
  content: "";
  height: 30px;
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0;
}
.navbar__list-item-language::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 3;
}
.navbar__list-item-language span {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}
.navbar__list-item-language span:hover {
  color: var(--primary-color);
}
.navbar__list-item-language-item:hover .navbar__list-item-language {
  display: flex;
}
/* =========================================== */
/* header content */
.header__content {
  flex: 1;
  display: flex;
  align-items: center;
}
.header__mobile-search {
  width: 90px;
  text-align: center;
}
.header__mobile-search-icon {
  padding: 10px;
  font-size: 2.5rem;
  color: white;
}
.header__content-logo {
  background: url(../image/header_logo/header_logo.png) no-repeat center /
    contain;

  width: 22.5%;
  height: 88px;
}
.header__content-logo--link {
  display: block;
  width: 100%;
  height: 100%;
}
.header__content-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
}
.header__content-search-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white-color);
  padding: 3px;
  border-radius: 0.2rem;
}
.header__content-search-input input {
  position: relative;
  flex: 1;
  border: none;
  margin: 0;
  padding: 0 10px;
  height: 32px;
  outline: none;
  font-size: 1.4rem;
}

.header__content-search-input::before {
  display: none;
  position: absolute;
  top: -4px;
  left: -4px;
  right: 64px;
  bottom: -4px;
  content: "";
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.87);
  pointer-events: none;
  z-index: 1;
}

.header__content-search-input button {
  width: 60px;
  height: 34px;
}

.search--extend {
  display: none;
  /* display: flex; */
  position: absolute;
  z-index: 2;
  top: 112%;
  left: 0;
  right: 0;
  width: 90%;
  box-shadow: 2px 5px 9px -3px #000;
  border-radius: 0.2rem;
  background-color: var(--white-color);
  overflow: hidden;
  animation: fadeIn ease 0.3s;
}

.header__content-search-input input:focus ~ .search--extend {
  display: flex;
}
.search__list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.search__list .search__list-item {
  font-size: 1.4rem;
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search__list .search__list-item:hover {
  background-color: #fafafa;
}
.header__content-search-input button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__content-search .search-suggest-list {
  display: flex;
  color: var(--white-color);
  font-size: 1.2rem;
}
.search-suggest-list li {
  margin: 4px 8px;
}
.header__content-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-size: 2.5rem;
}
.header__content-cart .content-cart-button {
  position: relative;
  border: none;
  background-color: transparent;
}
.cart-button-quantity {
  position: absolute;
  top: -12px;
  right: -12px;
  color: var(--primary-color);
  background-color: var(--white-color);
  font-size: 1.3rem;
  max-width: 40px;
  padding: 0 3px;
  /* font-weight: 600; */
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  line-height: 1.4rem;
}
.header__content-cart > .content-cart-button:hover .cart__list-item--empty,
.header__content-cart > .content-cart-button:hover .cart__list-item--fill {
  display: flex;
}
/* Cart-fill */
.cart__list-item--fill {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.cart__list-item--fill-title {
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: start;
  padding-left: 16px;
  color: rgb(146, 146, 146);
}
.cart--fill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  overflow-y: auto;
}
.cart--fill-list-item {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 8px;
  cursor: pointer;
}
.cart--fill-list-item:hover {
  background-color: rgba(204, 204, 204, 0.178);
}
.cart-item-img {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
.cart-item-about {
  flex: 1;
  display: flex;
  height: 100%;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
.cart-item-name {
  flex: 1;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  text-align: start;
}
.cart-item-price {
  white-space: nowrap;
  padding-left: 15px;
  color: var(--primary-color);
}
.cart__list-item--fill-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 14px;
}
.cart--fill-note {
  color: hsl(0, 0%, 41%);
}
.cart--fill-view-cart {
  background-color: var(--primary-color);
  padding: 8px 14px;
  border-radius: 0.3rem;
}
.cart--fill-view-cart:hover {
  opacity: 0.8;
}
.header__content-cart .cart__list-item {
  display: none;
  position: absolute;
  z-index: 2;
  top: 130%;
  right: -25px;
  width: 400px;
  background-color: var(--white-color);
  box-shadow: 3px 4px 18px -9px;
  transform-origin: calc(100% - 45px) top;
  will-change: opacity transform;
  animation: box-growth ease 0.3s;
}

.header__content-cart .cart__list-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--white-color);
  position: absolute;
  top: -6px;
  right: 30px;
  transform: rotate(45deg);
}
.cart__list-item--empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 1.5rem;
  border: 1px solid rgba(2, 1, 1, 0.103);
}

.cart__list-item--empty img {
  width: 30%;
  margin-bottom: 20px;
}

/* Modal */
.modal__content-layout {
  padding: 16px 32px;
}
.modal__content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 16px 44px;
}
.modal__content-header h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content-header h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
}

/* .modal__content-details {
} */
.modal__content-details-top {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 120px;
}
.modal__content-details-top .modal__content-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 8px;
  font-size: 1.4rem;
  outline-color: var(--primary-color);
}
.modal__content-details-top .modal__content-rules {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
}
.modal__content-details-top .modal__content-rules--login {
  text-align: end;
}
.content-rules-fogot::before {
  content: "";
  width: 1px;
  height: 16px;
  border-left: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
.modal__content-details-top .modal__content-rules a {
  position: relative;
  margin-left: 20px;
  color: var(--primary-color);
}
.modal__content-details-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal__content-details-bottom .modal__content-button {
  padding: 0 40px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 20px;
}
.btn--normal:hover {
  background-color: rgb(238, 238, 238);
}

.modal__content-footer {
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 10px;
  width: 45%;
  height: 35px;
}
.modal__footer-btn-fb {
  color: var(--white-color);
  background-color: #2d4b92;
}
.modal__footer-btn-gg a {
  color: #000;
}
.modal__footer-btn a {
  margin: 0 20px;
}
.modal__footer-btn:hover {
  opacity: 0.8;
}
.modal__footer-btn i {
  font-size: 1.6rem;
}
.container {
  padding-top: calc(var(--header-height) + 20px);
  background-color: #f9f9f9;
}
/* Left Section */
.left__section {
  background-color: var(--white-color);
  border-radius: 0.2rem;
  overflow: hidden;
}
.left__section-header {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 12px 12px;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.left__section-header-icon {
  font-size: 1.6rem;
  margin-right: 8px;
  margin-bottom: 2px;
}
.left__section-heading {
  margin: 0;
  font-size: 1.8rem;
}
.left__section-body {
  font-size: 1.4rem;
  padding-left: 8px;
}

.left__section-options {
  height: 40px;
  display: flex;
  align-items: center;
}
.left__section-options--active .section__option-link {
  color: var(--primary-color);
}
.left__section-options--active .section__option-link::before {
  position: absolute;
  content: "";
  display: block;
  border: 5px solid;
  border-color: transparent transparent transparent var(--primary-color);
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.section__option-link {
  position: relative;
  color: var(--text-color);
  font-size: 1.5rem;
  display: block;
  flex: 1;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  transition: right linear 0.1s;
  right: 0;
}
.section__option-link:hover {
  color: var(--primary-color);
  right: -4px;
}
/* Product-container*/
.product__container {
  margin-bottom: 80px;
}

.product__container--header {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  height: 60px;
  padding: 13px 20px;
}
.product__container--header-filter {
  display: flex;
  align-items: center;
}
.product__container--header-filter-title {
  font-size: 1.4rem;
}

.product__container--header-filter-btn {
  margin-left: 12px;
}
.product__container--header-filter-btn-price {
  position: relative;
  z-index: 1;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__container--header-filter-btn-price-sort-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: calc(100% + 2px);
  left: 0;
  flex-direction: column;
  background-color: var(--white-color);
  width: 100%;
  height: auto;
  padding: 12px 0;
  box-shadow: 4px 5px 10px -6px #000;
  animation: ease fadeIn 0.5s;
}
.product__container--header-filter-btn-price-sort-list::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  top: -5px;
  left: 0;
}
.product__container--header-filter-btn-price-sort-option {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.product__container--header-filter-btn-price:hover
  .product__container--header-filter-btn-price-sort-list {
  display: flex;
}

.product__container--header-filter-btn-price-sort-option:hover {
  color: var(--primary-color);
}
.product__container--header-pagelist {
  display: flex;
  align-items: center;
}
.product__container--header-page-num {
  font-size: 1.4rem;
  margin-right: 8px;
}
.product__container--header-page-num-cur {
  color: var(--primary-color);
}
.product__container--header-page-change {
  display: flex;
}
.product__container--header-page-btn {
  display: flex;
  align-items: center;
  padding: 0 13px;
}
.product__container--header-page-btn--inactive {
  background-color: #f9f9f9;
  color: rgb(173, 173, 173);
  border: 1px solid rgb(232 232 232);
  cursor: default;
}
.product__container--header-page-btn-active {
  background-color: transparent;
  border: 1px solid rgb(232 232 232);
  transition: linear 0.15s;
}

.product__container--header-page-btn-active:hover {
  background-color: var(--white-color);
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  border: 1px solid #eee;
  border-radius: 0.4rem;
  /* overflow: hidden; */
  font-size: 1.4rem;
  color: var(--text-color);
  min-height: 330px;
  /* cursor: pointer; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
}
.product-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.product-card-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}
.product-card-image {
  padding-top: 100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.product-card-name {
  flex: 1;
}
.product-card-name span {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-card-price-ship {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.product-card-ship {
  color: #00bfa5;
}
.product-card-price {
  font-size: 1.6rem;
}
.product-card-price-cost {
  text-decoration: line-through;
  font-size: 1.4rem;
}
.product-card-price-sale {
  color: var(--primary-color);
}

.product-card-emotion-rating-sold {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.product-card-rating-sold {
  display: flex;
}
.product-card-emotion {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.product-card-rating {
  font-size: 1rem;
  color: #fece3f;
  margin-right: 4px;
}

.produc-card-sold {
  font-size: 1.3rem;
}
.product-card-address {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.product__card-label,
.product__card-label-mall,
.product__card-label-favourite {
  display: none;
}
.product__card-label {
  position: absolute;
  top: 10px;
  left: -4px;
  padding: 0 4px;
  font-size: 1.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.product-card .product__card-label-favourite {
  display: block;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.product__card-label-mall {
  padding: 2px 4px;
  display: block;
  background-color: #d0011b;
  color: var(--white-color);
}
.product__card-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.product__card-discout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 4px;
  top: 0;
  right: 0;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: #ffd736ee;
  --discout-label-width: 42px;
  width: var(--discout-label-width);
}
.product__card-discout::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent #ffd736ee;
  border-width: 0 calc(var(--discout-label-width) / 2) 5px;
}
.product__card-discout-percent {
  color: var(--primary-color);
  font-weight: 500;
}
.product__container--pagination {
  margin: 40px 0 200px;
}
.footer {
  border-top: 3px solid var(--primary-color);
  height: 500px;
}
.footer__content {
  margin-top: 100px;
  padding-bottom: 50px;
}
.footer__content-col {
  font-size: 1.5rem;
  color: var(--footer-text-color);
}
.footer__content-topic {
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  margin: 20px 0;
}
.footer__content-topic-list {
  display: flex;
  flex-direction: column;
}
.footer__content-topic-details {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding: 6px 0;
}
.footer__content-topic-details-icon {
  font-size: 2rem;
  position: relative;
  top: 2px;
}
.footer__content-topic-details a {
  color: var(--footer-text-color);
}
.footer__content-topic-details a:hover {
  color: var(--primary-color);
}
.footer__content-topic-details i {
  margin-right: 8px;
}
.footer__content-topic-grid {
  display: flex;
  flex-wrap: wrap;
}
.footer-topic-list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-topic-list-row-item {
  width: calc((100% / 3) - 10px);
}
.footer-topic-list-row-item a {
  display: block;
  background: url(../image/brand-bgc-img/4bdefde103e8aa245cd17511adde9f89.png);
  width: 100px;
  background-position: 87% 5%;
  background-size: 900%;
  width: 70px;
  height: 30px;
}
.footer__content-topic-dowload {
  display: flex;
  flex-direction: row;
}
.footer__content-topic-dowload-qrcode {
  width: 40%;
  margin-right: 15px;
  border: 1px solid rgb(226, 226, 226);
}
.footer__content-topic-dowload-qrcode img {
  width: 100%;
}
.footer__content-topic-dowload-store {
  width: 40%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer__content-topic-dowload-store img {
  width: 100%;
}
.footer__area {
  padding: 50px 0;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  color: var(--text-color);
  border-top: 1px solid rgb(224, 224, 224);
}
.footer__area-left {
  padding-right: 40px;
  flex: 2;
}
.footer__area-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 4;
}

.footer__area-right-item {
  padding: 2px 6px;
  border-right: 1px solid #ccc;
}
.footer__area-right-item:first-child,
.footer__area-right-item:last-child {
  border: none;
}

.footer__area-right-item a {
  color: var(--text-color);
}
.footer__company-about {
  background-color: #f5f5f5;
}

.company-about-list-policy {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
.company-about-policy-item {
  padding: 0 20px;
  margin: 50px 0;
  border-right: 1px solid #ccc;
  cursor: pointer;
}
.company-about-license {
  display: flex;
  justify-content: center;
}
.company-about-license-item {
  background: url(../image/brand-bgc-img/4bdefde103e8aa245cd17511adde9f89.png);
  height: 50px;
  width: 130px;
  background-position: 34% 85%;
  cursor: pointer;
}
.company-about-name {
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  margin: 20px 0;
}
.company-about-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.company-about-contact span {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 8px;
}
/* Floating item */
.floating-item {
  position: fixed;
  bottom: 13vh;
  right: 13vw;
  width: 82px;
  height: 82px;
}
.floating-item-link {
  display: block;
  background: url("../image/floating__item/floating__img.png") no-repeat center /
    cover;
  width: 100%;
  padding-top: 100%;
}
