/* Header__navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  /* height: 120px; */
  background: linear-gradient(-180deg, #f53e2d, #ff6533);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.navbar__list-item {
  padding: 4px 6px;
}
.navbar__list-item,
.navbar__list-item-link {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}
.navbar__list-item-link:hover {
  color: hsla(0, 0%, 100%, 0.7);
}
.navbar__list-item-link--strong {
  font-weight: 500;
}
.nav__list-item--seperate::after {
  content: "";
  display: block;
  width: 0.1rem;
  height: 1.6rem;
  border-right: 2px solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__list-item--text {
  cursor: auto;
}
.navbar__list-item-icon {
  padding: 0;
  font-size: 1.6rem;
}
/* Download-Menu */
.navbar__list-item-download-menu {
  display: none;
  position: absolute;
  top: 32px;
  left: 10px;
  width: 190px;
  background-color: #fff;
  box-shadow: 5px 10px 26px -8px #000;
}
.navbar__list-item-download-menu::after{
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0;
}
.list-item-download-menu-qr img {
  width: 100%;
}
.list-item-download-menu-app {
  display: flex;
  flex-wrap: wrap;
  margin: 0 12px;
}
.list-item-download-menu-app img {
  width: 40%;
  margin: 5px;
}
.navbar__list-item-download:hover .navbar__list-item-download-menu {
  display: block;
}
/* =================================================================== */
/* Notification */
.navbar-list-item-notification-menu {
  display: none;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  top: 32px;
  right: 0;
  background-color: #fff;
  min-width: 400px;
  min-height: 350px;
  box-shadow: 5px 10px 26px -8px #000;
  animation: noti_fadeout ease 0.8s;
}
.navbar-list-item-notification-menu::after{
  content: "";
  display: block;
  width: 30%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 3;
}
.navbar__list-item-notification:hover .navbar-list-item-notification-menu {
  display: flex;
}
@keyframes noti_fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-list-item-notification-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 30px;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 26px -8px #000;
}
.notification-menu-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-menu-content-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blur-text-color);
}
.notification-menu-content-details img {
  width: 40%;
  padding-bottom: 20px;
  display: block;
}
.notification-menu-login {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: rgb(245, 245, 245);
}
.notification-menu-login-btn {
  color: var(--blur-text-color);
  flex: 1;
}
.notification-menu-login-btn:hover {
  color: var(--shopee-text-orange-color);
  background-color: rgb(224, 224, 224);
}
.notification-menu-login-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

/* =============================================== */
/* Language */
.navbar__list-item-language {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 32px;
  right: -20px;
  width: 200px;
  height: 80px;
  background-color: #fff;
  color: var(--blur-text-color);
  box-shadow: 5px 10px 26px -8px #000;
}
.navbar__list-item-language::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -8px;
  right: 40px;
}
.navbar__list-item-language::after{
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 3;
}
.navbar__list-item-language span {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}
.navbar__list-item-language span:hover {
  color: var(--shopee-text-orange-color);
}
.navbar__list-item-language-item:hover .navbar__list-item-language {
  display: flex;
}
/* =========================================== */
/* header content */
.header__content {
  flex: 1;
  display: flex;
  align-items: center;
}
.header__content-logo {
  background: url(../image/header_logo/header_logo.png) no-repeat center /
    contain;
  width: 22.5%;
  height: 88px;
}
.header__content-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
}
.header__content-search-input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 3px;
  border-radius: 0.2rem;
}
.header__content-search-input input {
  flex: 1;
  border: none;
  margin: 0;
  padding: 0 10px;
  height: 32px;
  outline: none;
  font-size: 1.4rem;
}
.header__content-search-input button {
  border: none;
  width: 60px;
  height: 34px;
  background-color: #fb5533;
  border-radius: 0.2rem;
}
.header__content-search-input button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__content-search .search-suggest-list {
  display: flex;
  color: #fff;
  font-size: 1.2rem;
}
.search-suggest-list li {
  margin: 4px 8px;
}
.header__content-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-size: 2.5rem;
}
