/* Pc low resolution */
@media screen and (max-width: 1239px) {
}
/* Mobile and Tablet */
@media screen and (max-width: 1023px) {
  :root {
    --header-sort-bar-height: 46px;
    --header-height: 88px;
  }
  .header {
    height: 88px;
    display: flex;
    align-items: center;
  }
  .header__sort-bar {
    display: block;
  }
  .container {
    padding-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }
  .hide-on-mobile-tablet {
    display: none;
  }

  .header__content-cart .cart__list-item {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 calc((100% - 644px) / 2);
    z-index: 4;
  }
  .header__content-cart .cart__list-item::before {
    display: none;
  }
  .mobile-category {
    display: flex;
  }
}
/* Only Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  :root {
    --header-height: 88px;
  }
  .hide-on-tablet {
    display: none;
  }
  .header__content-logo {
    background-size: 110%;
    background-position: -20% 60%;
  }

  .cart__list-item--fill-title {
    text-align: center;
    text-transform: uppercase;
  }
}

/* Only Mobile */
@media screen and (max-width: 740px) {
  :root {
    --header-height: 88px;
  }
  .header {
    height: var(--header-height);
  }
  .hide-on-mobile {
    display: none;
  }
  .header__content-mobile-menu-and-search {
    display: flex;
  }
  .header__content {
    justify-content: space-between;
  }
  .header__content-logo {
    background-size: 136%;
    background-position: 0% 88%;
  }
  .header__content-cart {
    width: auto;
    justify-content: space-between;
  }
  .mobile__item-user {
    display: block;
    padding-left: 20px;
  }
  .navbar__list-item-user-avatar {
    height: 30px;
    width: auto;
  }
  .item-user-about {
    border-radius: 0.5rem;
    overflow: hidden;
    top: 100%;
    right: 5px;
    width: 200px;
  }
  .item-user-about::before {
    display: none;
  }
  .user-infor {
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .header__content-search {
    /* display: none; */
    position: fixed;
    background-color: #fff;
    top: var(--header-height);
    z-index: 3;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 2px;
    height: calc(var(--header-sort-bar-height) + 4px);
    align-items: center;
    justify-content: center;
    animation: fadedown linear 0.3s;
  }
  .header__search-checkbox:checked ~ .header__content-search {
    display: flex;
  }
  .search--extend {
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height) + 8px);
    left: 0;
    right: 0;
    width: auto;
    box-shadow: none;
    border: 1px solid #ccc;
  }
  .header__sort-bar {
    padding: 0;
  }
  .mobile-menu-list {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    z-index: 4;
    display: flex;
    display: none;
    flex-direction: column;
    /* width: 200px; */
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 3px 4px 12px -4px rgb(0 0 0 / 63%);
    animation: fadeIn linear 0.3s;
  }
  .mobile-menu__item {
  }
  .mobile-menu__item__link {
    color: #000;
    font-size: 1.6rem;
    padding: 15px 10px;
    cursor: pointer;
  }
  .mobile-menu__item__link:hover {
    background: var(--box-hover-color);
    color: #27aa9a;
  }
  .mobile-menu-btn:hover .mobile-menu-list {
    display: flex;
  }
  .pagination {
  }
  .pagination-item {
    margin: 0;
  }
  .product__container-wrap {
    margin: 0 5px;
  }
  .footer__content-col {
    margin-bottom: 50px;
  }
  .footer__content-topic {
    text-align: center;
  }
  .footer__content-topic-details {
    justify-content: center;
  }
  .footer__content-col {
    padding: 0 10px;
  }
  .footer__content-topic {
    padding: 0 10px;
  }
  .footer__area {
    display: none;
  }
  .company-about-list-policy {
    display: none;
  }
  .company-about-license-item {
    background-size: 500%;
  }
  .company-about-contact {
    padding: 0 16px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
}
